body {
  font-family: 'Roboto', sans-serif;
  background-color: #f3f5f9;
  height: 100dvh;
}

#app {
  height: 100%;
}

.subtitle {
  font-size: 1.5rem;
  font-style: italic;
}

#new-quote {
  cursor: pointer;
}
